@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@theme {
    --color-ocean-900: #0B132B;
    --color-ocean-800: #111D44;
    --color-ocean-700: #14255A;

    --animate-slide-up-fade: slide-up-fade 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    --animate-fade-out-up: fade-out-up 1.2s cubic-bezier(0.8, 0, 0.1, 1) forwards;

    @keyframes slide-up-fade {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fade-out-up {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(-100%);
            visibility: hidden;
            display: none;
        }
    }
}

:root {
    /* Override DaisyUI dark theme variables to create the custom Aquaura Ocean Theme */
    --b1: 222 47% 11%;
    /* base-100: #0f172a (tailwind slate-900) */
    --b2: 240 83% 4%;
    /* base-200: #020617 (tailwind slate-950) */
    --b3: 215 32% 17%;
    /* base-300: #1e293b */
    --p: 199 89% 48%;
    /* primary: #0ea5e9 */
    --s: 173 80% 40%;
    /* secondary: #14b8a6 */
    --a: 38 92% 50%;
    /* accent: #f59e0b */
    --n: 215 32% 17%;
    /* neutral: #1e293b */
}